* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  color: #343a40;
  font-family: "Inter", sans-serif;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  margin-top: 400px;
  list-style: none;
}
li:first-child,
li:last-child {
  background-color: #fff;
  padding: 18px;
  height: 18px;
  width: 18px;
  border: solid 1px #099268;
  border-radius: 50%;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 18px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.icon {
  stroke: #099268;
  font-size: 24px;
}

li.active,
li:hover {
  padding: 18px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #099268;
  color: #e6fcf5;
}

li:hover {
  cursor: pointer;
}

li:first-child:hover .icon,
li:last-child:hover .icon {
  stroke: #e6fcf5;
}
